/* Setting up colours */
:root {
    --background: #fcffc8;
    --mid-primary: #074bdd;
    --dark-primary: #012643;
      --light-background: #fed9fe;
    
    
        --light-primary: #294996;

    /*2022-2023 dark and light link colours are currently the same*/
    --light-link: #bc4265;
    --light-link-hover: #c7627c;

    --dark-link: #bc4265;
    --dark-link-hover: #c7627c;

    --text-highlight: #d6df4e;

    --font-large-headings: PicNic;
    --font-paragraph-modal: 'Karla', sans-serif;
    --font-paragraph-text: 'Karla', sans-serif;
    --font-small-headings: OfficeCode, serif;
    --font-nav-bar: OfficeCode, serif;
}


/* NEW SITE REDIRECTION*/


.site-logo a {
    text-decoration: none;
}

.site-logo  svg {
    fill: var(--mid-primary);
	height:100%;
}

	 .site-logo {
	  border: 0px;
	  padding: 0 20px;
	  max-width: 50%;
	  width: auto;
	}



/*//////////////////////////////////
////Everything from index2022   ////
///////////////////////////////////*/

.hideElement {
    display: none;
}

.showElement {
    display: block;
}




@media (max-width: 700px) {
    .feeling h1 {
        font-size: 15vw;
    }
}

@font-face {
    font-family: BagnardSans;
    src: url("../fonts/BagnardSans.otf") format("opentype");
}

@font-face {
    font-family: Bagnard;
    src: url("../fonts/Bagnard.otf") format("opentype");
}

@font-face {
    font-family: CothamSans;
    src: url("../fonts/CothamSans.otf") format("opentype");
}

@font-face {
    font-family: OfficeCode;
    src: url("../fonts/OfficeCodePro-Light.otf") format("opentype");
}

@font-face {
    font-family: YoungSerif;
    src: url("../fonts/YoungSerif-Regular.otf") format("opentype");
}



body {
    background-color: var(--background);
    color: var(--dark-primary);
    font-size: 30px;
}

a{color:var(--dark-primary)}

a:hover {
    color: var(--dark-primary);

}

.intro {
    justify-content: center;
    height: calc(80vh - 50px);
    display: flex;
    align-items: center;
}

@media (max-width: 480px) {
    .intro {
        top: 0px;
        margin-left: 0;
        min-width: 100%;
        max-width: 100%;
        min-height: 90vh;
     
    }



    .title-2022 {
        font-size: 3.5em;
    }
}


/* Paragraph text */
p {
    font-size: 1.08em;
    font-family: var(--font-paragraph-text);
    letter-spacing: 0.5px;

}




.activeLink {
    color: var(--dark-primary) !important;
}

.activeLink:hover {
    text-decoration: underline;
    color: var(--dark-primary)
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}



